@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  font-family: 'Inter', sans-serif;
  background: rgb(105, 66, 222);
  background: linear-gradient(
    90deg,
    rgba(22, 166, 166, 1) 0%,
    rgba(212, 32, 32, 1) 94%
  );
  /* min-height: 5000px; */
  padding-top: 120px;
}

.wrapper {
  /* margin-top: 30vh; */
}

.auth-body {
  margin: 0;
  padding: 0; 
  /* background-color: rgb(8, 66, 117); */
  display: flex;
  justify-content: center;
  height: 900px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.div-app {
  background-color: rgb(216, 179, 179);
  height: fit-content;
  box-shadow: rgba(0,0,0, 0.05) 0 6px 24px, rgba(0,0,0, 0.08) 0 0 0 1px;
  border-radius: 10px;
  padding: 10px;
  width: 800px;
  margin-top: 50px;
} 


/* job upload page */

.job-upload-page {
  height: 100px;
  position: relative;
  order: 3px solid green;
}

.job-upload-button {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* 2 boxes on homepage */

.home-box {
  border-width: 3px;
  background-color: white;
  box-shadow: rgba(0,0,0, 0.05) 0 6px 24px, rgba(0,0,0, 0.08) 0 0 0 1px;
  border-radius: 10px;
  padding: 2.5%;
  margin: 2.5%;
  float: left
}

.my-uploads {
  float: none;
  margin: auto;
  border-color: rgb(32, 203, 118);
  width: 75%;
  padding: 3%;
}

.search {
  border-color: rgb(24, 202, 66);
  width: 30%;
}

.results {
  border-color: rgb(18, 18, 92);
  width: 60%;
  padding: 3%;
}

.button-container, .info-container {
  display: flex;
  align-items: center;
}

.button-container button {
  font-size: 10px;
  margin: 0 5px;
  padding: 5px 10px;
  border-radius: 12px;
  background-color: transparent;
}

.edit {
  border: 1.5px solid rgb(141, 181, 145);
  color: rgb(141, 181, 145);
  text-transform: uppercase;
}

.edit:hover {
  background-color: rgb(182, 223, 186);
}

.edit:active {
  color: rgb(255, 255, 255);
  background-color: rgb(141, 181, 145);
}

.delete {
  border: 1.5px solid rgb(255, 175, 163);
  color: rgb(255, 175, 163);
  text-transform: uppercase;
}

.delete:hover {
  background-color: rgb(255, 201, 193);
}

.delete:active {
  color: rgb(255, 255, 255);
  background-color: rgb(255, 175, 163);
}

.create {
  border: 1.5px solid rgb(21, 45, 168);
  color: white;
  background-color: blue;
  text-transform: uppercase;
}

.create:hover {
  background-color: rgb(131, 138, 172);
  color: black;
}

.create:active {
  background-color: rgb(108, 115, 148);
  color: black;
}

.signout {
  border: 1.5px solid rgb(255, 175, 163);
  color: rgb(234, 234, 234);
  background-color: rgb(255, 175, 163) !important;
}

.signout:hover {
  background-color: rgb(175, 94, 94) !important;
  border: 1.5px solid rgb(175, 94, 94);
}

.signout:active {
  border: 1.5px solid rgb(175, 81, 81) !important;
  background-color: rgb(175, 81, 81) !important;
  color: rgb(255, 255, 255)
}

input {
  margin: 11px 0;
  padding: 12px 16px;
  border-radius: 12px;
  border: 1.5px solid rgb(230, 232, 236);
}

/* List Header */

.list-header {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: rgba(0,0,0, 0.05) 1px solid;
}

/* List Item */

.list-item {
  width: 100%;
  margin: 10px 0;
  border-radius: 10px;
  box-shadow: rgba(0,0,0, 0.08) 0 0 0 1px;
  display: flex;
  justify-content: space-between;
}

.tick {
  padding: 10px;
}

.tick path {
  fill: none;
  stroke: #000;
  stroke-miterlimit: 10;
  stroke-width: 32px;
}

/* Modal */

.overlay {
  position: relative;
  left: 0;
  top: 10%;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 500px;
  background-color: rgb(255, 255, 255);
  padding: 40px;
  border-radius: 10px;
  box-shadow: rgba(0,0,0,0.05) 0 6px 24px 0, rgba(0,0,0,0,08) 0 0 0 1px;
}

.modal .form-title-container {
  display: flex;
  justify-content: space-between;
}

.modal .form-title-container button {
  border: none;
  background-color: transparent;
}

.modal .form-title-container button:active {
  color: rgb(255, 50, 50);
}

.modal form {
  display: flex;
  flex-direction: column;
}

.modal label {
  font-size: 13px;
}

/* Auth */

.auth-container {
  display: flex;
  justify-content: center;
  margin: 5px;
}

.auth-container-box {
  width: 500px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: rgba(0,0,0,0.05) 0 6px 24px, rgba(0,0,0,0,08) 0 0 0 1px;
}

.auth-container-box form {
  display: flex;
  flex-direction: column;
  height: 350px;
  padding: 20px;
}

.auth-options {
  display: flex;
}

.auth-options button {
  width: 50%;
  margin: 10px;
  border-color: #000;
  border-radius: 100px;
  padding: 10px;
  color: rgb(53, 5, 5);
  border-width: 1px;
}

.copyright {
  font-size: 13px;
  margin: 10px;
  color: rgb(114, 114, 144);
}

.user-email {
  float: right;
  font-size: 13px;
  margin: 10px;
  color: rgb(114, 114, 144);
}

.outer-bar {
  width: 200px;
  height: 14px;
  background-color: rgb(216, 216, 216);
  border-radius: 7px;
  overflow: hidden;
}

.inner-bar {
  height: 14px;
}

.task-title {
  width: 300px;
} 


/* navbar */

.NavbarItems {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  padding: 0 30px;
  background-color: #222;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  width: 95%;
  height: 80px;
  border-radius: 10px;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translate(-50%);
  z-index: 999;
}

.logo {
  color: #fff;
  justify-self: start;
  cursor: pointer;
}

.fa-react {
  margin-left: 0.2rem;
  font-size: 1.6rem;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(6, auto); /* for 6 items in nav data */
  grid-gap: 10px;
  list-style: none;
  align-items: center;
  text-align: center;
  justify-content: end;
}

.nav-links {
  text-decoration: none;
  color: white;
  border-radius: 10px;
  padding: 0.7rem 1rem;
  white-space: nowrap;
}

.nav-links i{
  padding-right: 10px;
}

.nav-links:hover {
  background: rgb(80, 80, 238);
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}

.fa-bars, .fa-times {
  color: white;
}

.menu-icons {
  display: none;
}

.nav-links-mobile {
  padding: 0.5rem 1rem;
  white-space: nowrap;
  background-color: rgb(163, 144, 183);
  border-radius: 10px;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 800;
  color: #010112;
}

@media screen and (max-width: 850px) {
  .NavbarItems {
    z-index: 99;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: rgba(255, 255, 255, .25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, .37); 
    backdrop-filter: blur(4px);
    border-radius: 13px;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: -110%; /* to hide sidebar (when small screen) */
    align-items: stretch;
    padding: 80px 0 30px 0;
    margin: 0;
    z-index: -1;
    transition: 0.3s ease-in-out;
  }

  .nav-menu.active {
    left: 0%;
  }

  .nav-links {
    display: block;
    widows: 100%;
    padding: 2rem 0;
    color: #222;
  }

  .nav-links:hover {
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(20px);
  }

  .menu-icons {
    display: block;
  }

  .nav-links-mobile {
    padding: 1.5rem;
    display: block;
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
    width: 40%;
    margin: auto;
    border-radius: 10px;
    background-color: #fafafa;
  }
}

/* home page */

.home {
  width: 100%;
  height: 1000vh;
  background: rgb(105, 66, 222);
  background: linear-gradient(
    90deg,
    rgba(22, 166, 166, 1) 0%,
    rgba(212, 32, 32, 1) 94%
  );
}